body{
  background: url("https://wallpaperaccess.com/full/4752917.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container{
  width:100%;
    margin: 3.125rem auto 0 auto;
  text-align:center;
  color:white;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

form{
  text-align:left;
  color:white;
  background:rgba(27, 27, 50, 0.8);
    padding: 2.5rem;
    border-radius:0.25rem;


}
label{
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  font-size:1.25rem;

}
input,select{
  box-sizing: inherit;
  width:100%;
  line-height:1.4rem;
  font-size:1rem;
  padding: 0.375rem 0.75rem;
/*   margin:0; */
  border-radius:0.25rem;
  border:1px solid #ced4da;
      color: #363636;
    background-color: white;
/*   outline:none; */
}
.form-group{
    margin: 0 auto 1.25rem auto;
}
.optional{
  font-size:1rem;
}

p{
  font-size:1.3rem;
}

.radio-label input,
.checkbox-label input{
  display:flex;
width:auto;
    border: 0px;
/*     margin-bottom: 0.5rem; */
/*       width: 1.6rem;
    height: 1.1rem; */

  position:relative;
  margin-bottom:0.1rem;
/*   padding:0 auto 1rem 0; */
margin-bottom: 0.5rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
  margin-right:1rem;
}

textarea{
            width:100%;
          height:8rem;
  font-size:1rem;
  font-color:inherit;
  padding: 0.375rem 0.75rem;
  resize:vertical;
  margin-bottom:1rem;
}
button{
    background-color: #56a159;;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
/*   text-decoration: none; */
  display: inline-block;
  font-size: 1rem;
/*   margin: 4px 2px; */
  border-radius: 2px;
  cursor: pointer;
/*   display:flex; */
  width:100%;
/*   text-align:center; */
/*   margin:0 auto; */
}
